[Desktop Entry]
Name=Andromeda
GenericName=File Manager
GenericName[cs]=Souborový manažer
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής Αρχείων
GenericName[es]=Gestor de archivos
GenericName[fr]=Gestionnaire de fichiers
GenericName[hu]=Fájlkezelő
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ru]=Файловый менеджер
GenericName[sv]=Filhanterare
GenericName[zh_TW]=檔案管理員
Comment=A lightweight file manager
Comment[cs]=Lehký souborový manažer
Comment[de]=Ein leichtgewichtiger Dateimanager
Comment[el]=Ένας ελαφρύς διαχειριστής αρχείων για
Comment[es]=Un gestor de archivos ligero
Comment[fr]=Un gestionnaire de fichiers léger
Comment[hu]=Pehelysúlyú fájlkezelő
Comment[ru]=Легкий файловый менеджер
Exec=andromeda
Terminal=false
Type=Application
MimeType=inode/directory;
StartupNotify=true
Icon=andromeda
Categories=System;FileManager;
