[Desktop Entry]
Name=QImageViewer
GenericName=QImageViewer
Comment[ru]=Просмотрщик изображеий
Exec=qimageviewer
Terminal=false
Type=Application
MimeType=image/bmp;image/gif;image/jpeg;video/x-mng;image/png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/tiff;image/x-xbitmap;image/x-xpixmap;image/svg+xml;image/x-tga;
StartupNotify=true
Icon=qimageviewer
